.button{
    float: right;
}
section {
    display: table;
    margin: 8px;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
  }
  
//   .example-button-row {
//     display: table-cell;
//   }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    width: 480px;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
  form {
    width: 100%;
  }
  
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .mat-raised-button {
    width: 100%;
    margin-top: 20px;
  }